<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="be.rijckaert.tim.disableanimations">
    <!-- Place this permission in your debug folder -->
    <uses-permission android:name="android.permission.SET_ANIMATION_SCALE"/>

</manifest>